.activeLink {
}
.inactiveLink {
}
.dotActive {
  width: 9px;
  height: 9px;
  background-color: #2ed47d;
  margin: 11px auto 0 auto;
  border-radius: 50%;
}
.dotInactive {
  width: 9px;
  height: 9px;
  background-color: transparent;
  margin: 11px auto 0 auto;
  border-radius: 50%;
}
.tabLink {
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  cursor: pointer;
}
.active {
  font-weight: 600;
  pointer-events: none;
}
.inactive {
  font-weight: 400;
}
