.sectionGrid {
  background-color: #f8faff;
  min-height: 100vh;
  padding: 85px 19vw 20px 19vw;
}
@media (max-width: 1300px) {
  .sectionGrid {
    padding: 85px 5vw 20px 5vw;
  }
}
.sectionTitle {
  color: #071e57;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  font-family: "Roboto";
  margin-bottom: 54px;
}
.tabMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 58px;
}
.tabMenu div {
  margin-right: 45px;
}
.tabMenu div:last-child {
  margin-right: 0;
}
.dotActive {
  width: 9px;
  height: 9px;
  background-color: #1292ee;
  margin: 11px auto 0 auto;
  border-radius: 50%;
}
.dotInactive {
  width: 9px;
  height: 9px;
  background-color: transparent;
  margin: 11px auto 0 auto;
  border-radius: 50%;
}
.tabLink {
  color: #253642;
  font-size: 15px;
  cursor: pointer;
}
.active {
  font-weight: 600;
  pointer-events: none;
}
.inactive {
  font-weight: 400;
}
